In [38]:
import pandas as pd
import numpy as np
import datetime

In [39]:
us_data = "Resource/final_us_data.csv"

In [40]:
us_data_df = pd.read_csv(us_data)

C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3063: DtypeWarning: Columns (14) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [41]:
us_data_df.head()

,per_idx,per_name,cat_idx,cat_code,cat_desc,dt_idx,dt_code,dt_desc,dt_unit,geo_idx,geo_code,geo_desc,adj_idx,adj_desc,val
0,1,1/1/1992,5,44000,44000: Retail Trade,1,SM,Sales - Monthly,MLN$,1,US,U.S. Total,0,adjusted,130683
1,1,1/1/1992,5,44000,44000: Retail Trade,1,SM,Sales - Monthly,MLN$,1,US,U.S. Total,1,not adjusted,146925
2,1,1/1/1992,6,4400A,"4400A: Retail Trade, ex Auto",1,SM,Sales - Monthly,MLN$,1,US,U.S. Total,0,adjusted,100872
3,1,1/1/1992,6,4400A,"4400A: Retail Trade, ex Auto",1,SM,Sales - Monthly,MLN$,1,US,U.S. Total,1,not adjusted,113447
4,1,1/1/1992,7,4400C,4400C: GAFO,1,SM,Sales - Monthly,MLN$,1,US,U.S. Total,0,adjusted,33906

In [42]:
reduced_us_df = us_data_df[["per_name", "cat_code", "cat_desc", "dt_desc","dt_unit", "geo_code", "val", "adj_desc"]]
reduced_us_df.head()

,per_name,cat_code,cat_desc,dt_desc,dt_unit,geo_code,val,adj_desc
0,1/1/1992,44000,44000: Retail Trade,Sales - Monthly,MLN$,US,130683,adjusted
1,1/1/1992,44000,44000: Retail Trade,Sales - Monthly,MLN$,US,146925,not adjusted
2,1/1/1992,4400A,"4400A: Retail Trade, ex Auto",Sales - Monthly,MLN$,US,100872,adjusted
3,1/1/1992,4400A,"4400A: Retail Trade, ex Auto",Sales - Monthly,MLN$,US,113447,not adjusted
4,1/1/1992,4400C,4400C: GAFO,Sales - Monthly,MLN$,US,33906,adjusted

In [43]:
renamed_us_df = reduced_us_df.rename(columns={"per_name": "Month/Year",
                                            "cat_code": "Category Code",
                                            "cat_desc": "Category Description",
                                            "dt_desc": "Data Type",
                                            "dt_unit": "Units",
                                            "geo_code": "Country",
                                            "val": "Total Sales",
                                             "adj_desc": "Adjusted Description"})
renamed_us_df.head()

,Month/Year,Category Code,Category Description,Data Type,Units,Country,Total Sales,Adjusted Description
0,1/1/1992,44000,44000: Retail Trade,Sales - Monthly,MLN$,US,130683,adjusted
1,1/1/1992,44000,44000: Retail Trade,Sales - Monthly,MLN$,US,146925,not adjusted
2,1/1/1992,4400A,"4400A: Retail Trade, ex Auto",Sales - Monthly,MLN$,US,100872,adjusted
3,1/1/1992,4400A,"4400A: Retail Trade, ex Auto",Sales - Monthly,MLN$,US,113447,not adjusted
4,1/1/1992,4400C,4400C: GAFO,Sales - Monthly,MLN$,US,33906,adjusted

In [44]:
electronic_shopping_df = renamed_us_df.loc[renamed_us_df["Category Code"] == "4541"]
electronic_shopping_df.head()

,Month/Year,Category Code,Category Description,Data Type,Units,Country,Total Sales,Adjusted Description
88,1/1/1992,4541,4541: Electronic Shopping and Mail-order Houses,Sales - Monthly,MLN$,US,2692,adjusted
89,1/1/1992,4541,4541: Electronic Shopping and Mail-order Houses,Sales - Monthly,MLN$,US,2668,not adjusted
222,2/1/1992,4541,4541: Electronic Shopping and Mail-order Houses,Sales - Monthly,MLN$,US,2285,adjusted
223,2/1/1992,4541,4541: Electronic Shopping and Mail-order Houses,Sales - Monthly,MLN$,US,2632,not adjusted
319,2/1/1992,4541,4541: Electronic Shopping and Mail-order Houses,Sales - Monthly Percent Change,PCT,US,-1.3,not adjusted

In [45]:
mon_sales_df = electronic_shopping_df.loc[electronic_shopping_df["Data Type"] == "Sales - Monthly"]
mon_sales_df.tail()

,Month/Year,Category Code,Category Description,Data Type,Units,Country,Total Sales,Adjusted Description
154095,3/1/2020,4541,4541: Electronic Shopping and Mail-order Houses,Sales - Monthly,MLN$,US,65332,not adjusted
154692,4/1/2020,4541,4541: Electronic Shopping and Mail-order Houses,Sales - Monthly,MLN$,US,69952,adjusted
154693,4/1/2020,4541,4541: Electronic Shopping and Mail-order Houses,Sales - Monthly,MLN$,US,73479,not adjusted
155133,5/1/2020,4541,4541: Electronic Shopping and Mail-order Houses,Sales - Monthly,MLN$,US,75973,adjusted
155134,5/1/2020,4541,4541: Electronic Shopping and Mail-order Houses,Sales - Monthly,MLN$,US,78974,not adjusted

In [46]:
adj_desc_df = mon_sales_df.loc[mon_sales_df["Adjusted Description"] == "not adjusted"]
adj_desc_df.head()

,Month/Year,Category Code,Category Description,Data Type,Units,Country,Total Sales,Adjusted Description
89,1/1/1992,4541,4541: Electronic Shopping and Mail-order Houses,Sales - Monthly,MLN$,US,2668,not adjusted
223,2/1/1992,4541,4541: Electronic Shopping and Mail-order Houses,Sales - Monthly,MLN$,US,2632,not adjusted
547,3/1/1992,4541,4541: Electronic Shopping and Mail-order Houses,Sales - Monthly,MLN$,US,2477,not adjusted
839,4/1/1992,4541,4541: Electronic Shopping and Mail-order Houses,Sales - Monthly,MLN$,US,2757,not adjusted
973,5/1/1992,4541,4541: Electronic Shopping and Mail-order Houses,Sales - Monthly,MLN$,US,2874,not adjusted

In [47]:
adj_desc_df[["Month", "Date", "Year"]]= adj_desc_df["Month/Year"].str.split("/", expand=True)
adj_desc_df.head(5)

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\frame.py:2963: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]

,Month/Year,Category Code,Category Description,Data Type,Units,Country,Total Sales,Adjusted Description,Month,Date,Year
89,1/1/1992,4541,4541: Electronic Shopping and Mail-order Houses,Sales - Monthly,MLN$,US,2668,not adjusted,1,1,1992
223,2/1/1992,4541,4541: Electronic Shopping and Mail-order Houses,Sales - Monthly,MLN$,US,2632,not adjusted,2,1,1992
547,3/1/1992,4541,4541: Electronic Shopping and Mail-order Houses,Sales - Monthly,MLN$,US,2477,not adjusted,3,1,1992
839,4/1/1992,4541,4541: Electronic Shopping and Mail-order Houses,Sales - Monthly,MLN$,US,2757,not adjusted,4,1,1992
973,5/1/1992,4541,4541: Electronic Shopping and Mail-order Houses,Sales - Monthly,MLN$,US,2874,not adjusted,5,1,1992

In [48]:
tenyr_us_df = adj_desc_df.loc[adj_desc_df["Year"] >= "2010"]
tenyr_us_df.head(20)

,Month/Year,Category Code,Category Description,Data Type,Units,Country,Total Sales,Adjusted Description,Month,Date,Year
86330,1/1/2010,4541,4541: Electronic Shopping and Mail-order Houses,Sales - Monthly,MLN$,US,20726,not adjusted,1,1,2010
86469,2/1/2010,4541,4541: Electronic Shopping and Mail-order Houses,Sales - Monthly,MLN$,US,20742,not adjusted,2,1,2010
87107,3/1/2010,4541,4541: Electronic Shopping and Mail-order Houses,Sales - Monthly,MLN$,US,21521,not adjusted,3,1,2010
88004,4/1/2010,4541,4541: Electronic Shopping and Mail-order Houses,Sales - Monthly,MLN$,US,21458,not adjusted,4,1,2010
88143,5/1/2010,4541,4541: Electronic Shopping and Mail-order Houses,Sales - Monthly,MLN$,US,21459,not adjusted,5,1,2010
88781,6/1/2010,4541,4541: Electronic Shopping and Mail-order Houses,Sales - Monthly,MLN$,US,21995,not adjusted,6,1,2010
89678,7/1/2010,4541,4541: Electronic Shopping and Mail-order Houses,Sales - Monthly,MLN$,US,21793,not adjusted,7,1,2010
89817,8/1/2010,4541,4541: Electronic Shopping and Mail-order Houses,Sales - Monthly,MLN$,US,22362,not adjusted,8,1,2010
90455,9/1/2010,4541,4541: Electronic Shopping and Mail-order Houses,Sales - Monthly,MLN$,US,22426,not adjusted,9,1,2010
91352,10/1/2010,4541,4541: Electronic Shopping and Mail-order Houses,Sales - Monthly,MLN$,US,22561,not adjusted,10,1,2010
91491,11/1/2010,4541,4541: Electronic Shopping and Mail-order Houses,Sales - Monthly,MLN$,US,22567,not adjusted,11,1,2010
92129,12/1/2010,4541,4541: Electronic Shopping and Mail-order Houses,Sales - Monthly,MLN$,US,22820,not adjusted,12,1,2010
93026,1/1/2011,4541,4541: Electronic Shopping and Mail-order Houses,Sales - Monthly,MLN$,US,23715,not adjusted,1,1,2011
93165,2/1/2011,4541,4541: Electronic Shopping and Mail-order Houses,Sales - Monthly,MLN$,US,23325,not adjusted,2,1,2011
93803,3/1/2011,4541,4541: Electronic Shopping and Mail-order Houses,Sales - Monthly,MLN$,US,23603,not adjusted,3,1,2011
94700,4/1/2011,4541,4541: Electronic Shopping and Mail-order Houses,Sales - Monthly,MLN$,US,23785,not adjusted,4,1,2011
94839,5/1/2011,4541,4541: Electronic Shopping and Mail-order Houses,Sales - Monthly,MLN$,US,24122,not adjusted,5,1,2011
95477,6/1/2011,4541,4541: Electronic Shopping and Mail-order Houses,Sales - Monthly,MLN$,US,24301,not adjusted,6,1,2011
96374,7/1/2011,4541,4541: Electronic Shopping and Mail-order Houses,Sales - Monthly,MLN$,US,24424,not adjusted,7,1,2011
96513,8/1/2011,4541,4541: Electronic Shopping and Mail-order Houses,Sales - Monthly,MLN$,US,24719,not adjusted,8,1,2011

In [49]:
tenyr_us_df["Month"].replace({"1":"January",
                              "2":"February",
                              "3":"March",
                              "4":"April",
                              "5":"May",
                              "6":"June",
                              "7":"July",
                              "8":"August",
                              "9":"September",
                              "10":"October",
                              "11":"November",
                              "12":"December"}, inplace=True)
tenyr_us_df.head()

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\generic.py:6746: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._update_inplace(new_data)

,Month/Year,Category Code,Category Description,Data Type,Units,Country,Total Sales,Adjusted Description,Month,Date,Year
86330,1/1/2010,4541,4541: Electronic Shopping and Mail-order Houses,Sales - Monthly,MLN$,US,20726,not adjusted,January,1,2010
86469,2/1/2010,4541,4541: Electronic Shopping and Mail-order Houses,Sales - Monthly,MLN$,US,20742,not adjusted,February,1,2010
87107,3/1/2010,4541,4541: Electronic Shopping and Mail-order Houses,Sales - Monthly,MLN$,US,21521,not adjusted,March,1,2010
88004,4/1/2010,4541,4541: Electronic Shopping and Mail-order Houses,Sales - Monthly,MLN$,US,21458,not adjusted,April,1,2010
88143,5/1/2010,4541,4541: Electronic Shopping and Mail-order Houses,Sales - Monthly,MLN$,US,21459,not adjusted,May,1,2010

In [50]:
clean_us_df = tenyr_us_df[["Month","Year","Category Code","Category Description","Country","Total Sales","Units"]]
clean_us_df.head(95)

,Month,Year,Category Code,Category Description,Country,Total Sales,Units
86330,January,2010,4541,4541: Electronic Shopping and Mail-order Houses,US,20726,MLN$
86469,February,2010,4541,4541: Electronic Shopping and Mail-order Houses,US,20742,MLN$
87107,March,2010,4541,4541: Electronic Shopping and Mail-order Houses,US,21521,MLN$
88004,April,2010,4541,4541: Electronic Shopping and Mail-order Houses,US,21458,MLN$
88143,May,2010,4541,4541: Electronic Shopping and Mail-order Houses,US,21459,MLN$
...,...,...,...,...,...,...,...
136247,July,2017,4541,4541: Electronic Shopping and Mail-order Houses,US,46176,MLN$
136684,August,2017,4541,4541: Electronic Shopping and Mail-order Houses,US,46268,MLN$
137320,September,2017,4541,4541: Electronic Shopping and Mail-order Houses,US,46699,MLN$
137918,October,2017,4541,4541: Electronic Shopping and Mail-order Houses,US,46333,MLN$
138355,November,2017,4541,4541: Electronic Shopping and Mail-order Houses,US,48313,MLN$