In [89]:
%matplotlib notebook
%matplotlib inline

In [9]:
# Import Dependencies Libraries
import matplotlib.pyplot as plt
import pandas as pd
import scipy.stats as st
import numpy as np

#Read in the China Data CSV to Dataframe
China_data = "china_cleaned_up_data.csv"
China_data = pd.read_csv(China_data)
China_data

,Indicators,Jun-20,May-20,Apr-20,Mar-20,Feb-20,Jan-20,Dec-19,Nov-19,Oct-19,...,Oct-10,Sep-10,Aug-10,Jul-10,Jun-10,May-10,Apr-10,Mar-10,Feb-10,Jan-10
0,Online Retail Sales Accumulated($US),"7,339.70","5,725.69","4,374.96","3,159.41","1,954.18",nan,"15,152.90","13,533.01","11,730.08",...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
1,Online Retail Sales Accumulated Growth Rate(%),1.04,0.64,0.24,-0.11,-0.43,nan,2.35,2.37,2.34,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
2,Online Retail Sales in Goods Accumulated($US),"6,196.70","4,808.32","3,669.93","2,641.63","1,600.91",nan,"12,147.99","10,835.82","9,288.08",...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
3,Online Retail Sales in Goods Accumulated Growt...,2.04,1.64,1.23,0.84,0.43,nan,2.78,2.81,2.82,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
4,Online Retail Sales in Food Accumulated Growth...,5.53,5.27,5.23,4.66,3.76,nan,4.40,4.22,4.96,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
5,Online Retail Sales in Clothing Accumulated Gr...,-0.41,-0.97,-1.71,-2.15,-2.58,nan,2.19,2.35,1.01,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
6,Online Retail Sales in Necessities Accumulated...,2.47,2.12,1.77,1.43,1.07,nan,2.82,2.82,2.37,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
7,Total Retail Sales of Consumer Goods Current P...,"4,777.98","4,556.64","4,015.79","3,769.53",nan,nan,"5,526.30","5,428.98","5,430.47",...,"2,035.81","1,929.17","1,791.40","1,746.22","1,757.21","1,775.05","1,640.42","1,613.52","1,757.82","1,812.53"
8,Total Retail Sales of Consumer Goods Accumulat...,"24,549.26","19,771.29","15,214.65","11,198.86","7,429.33",nan,"58,666.57","53,140.27","47,711.29",...,"17,859.15","15,823.34","13,894.17","12,102.77","10,356.55","8,599.34","6,824.29","5,183.88","3,570.35","1,812.53"
9,Total Retail Sales of Consumer Goods Growth Ra...,-0.26,-0.40,-1.07,-2.25,nan,nan,1.14,1.14,1.03,...,2.65,2.68,2.62,2.55,2.61,2.67,2.64,2.57,3.15,2.00
10,Total Retail Sales of Consumer Goods Accumulat...,-1.62,-1.92,-2.31,-2.71,-2.92,nan,1.14,1.14,1.15,...,2.61,2.61,2.59,2.59,2.59,2.59,2.58,2.55,2.55,2.00
11,NaN,nan,nan,nan,nan,nan,nan,nan,nan,nan,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
12,NaN,nan,nan,nan,nan,nan,nan,nan,nan,nan,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
13,NaN,nan,nan,nan,nan,nan,nan,nan,nan,nan,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
14,NaN,nan,nan,nan,nan,nan,nan,nan,nan,nan,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
15,NaN,nan,nan,nan,nan,nan,nan,nan,nan,nan,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
16,NaN,nan,nan,nan,nan,nan,nan,nan,nan,nan,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
17,NaN,nan,nan,nan,nan,nan,nan,nan,nan,nan,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
18,NaN,nan,nan,nan,nan,nan,nan,nan,nan,nan,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan

In [10]:
pd.options.display.float_format = "{:,.2f}".format
China_data

,Indicators,Jun-20,May-20,Apr-20,Mar-20,Feb-20,Jan-20,Dec-19,Nov-19,Oct-19,...,Oct-10,Sep-10,Aug-10,Jul-10,Jun-10,May-10,Apr-10,Mar-10,Feb-10,Jan-10
0,Online Retail Sales Accumulated($US),"7,339.70","5,725.69","4,374.96","3,159.41","1,954.18",nan,"15,152.90","13,533.01","11,730.08",...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
1,Online Retail Sales Accumulated Growth Rate(%),1.04,0.64,0.24,-0.11,-0.43,nan,2.35,2.37,2.34,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
2,Online Retail Sales in Goods Accumulated($US),"6,196.70","4,808.32","3,669.93","2,641.63","1,600.91",nan,"12,147.99","10,835.82","9,288.08",...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
3,Online Retail Sales in Goods Accumulated Growt...,2.04,1.64,1.23,0.84,0.43,nan,2.78,2.81,2.82,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
4,Online Retail Sales in Food Accumulated Growth...,5.53,5.27,5.23,4.66,3.76,nan,4.40,4.22,4.96,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
5,Online Retail Sales in Clothing Accumulated Gr...,-0.41,-0.97,-1.71,-2.15,-2.58,nan,2.19,2.35,1.01,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
6,Online Retail Sales in Necessities Accumulated...,2.47,2.12,1.77,1.43,1.07,nan,2.82,2.82,2.37,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
7,Total Retail Sales of Consumer Goods Current P...,"4,777.98","4,556.64","4,015.79","3,769.53",nan,nan,"5,526.30","5,428.98","5,430.47",...,"2,035.81","1,929.17","1,791.40","1,746.22","1,757.21","1,775.05","1,640.42","1,613.52","1,757.82","1,812.53"
8,Total Retail Sales of Consumer Goods Accumulat...,"24,549.26","19,771.29","15,214.65","11,198.86","7,429.33",nan,"58,666.57","53,140.27","47,711.29",...,"17,859.15","15,823.34","13,894.17","12,102.77","10,356.55","8,599.34","6,824.29","5,183.88","3,570.35","1,812.53"
9,Total Retail Sales of Consumer Goods Growth Ra...,-0.26,-0.40,-1.07,-2.25,nan,nan,1.14,1.14,1.03,...,2.65,2.68,2.62,2.55,2.61,2.67,2.64,2.57,3.15,2.00
10,Total Retail Sales of Consumer Goods Accumulat...,-1.62,-1.92,-2.31,-2.71,-2.92,nan,1.14,1.14,1.15,...,2.61,2.61,2.59,2.59,2.59,2.59,2.58,2.55,2.55,2.00
11,NaN,nan,nan,nan,nan,nan,nan,nan,nan,nan,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
12,NaN,nan,nan,nan,nan,nan,nan,nan,nan,nan,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
13,NaN,nan,nan,nan,nan,nan,nan,nan,nan,nan,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
14,NaN,nan,nan,nan,nan,nan,nan,nan,nan,nan,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
15,NaN,nan,nan,nan,nan,nan,nan,nan,nan,nan,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
16,NaN,nan,nan,nan,nan,nan,nan,nan,nan,nan,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
17,NaN,nan,nan,nan,nan,nan,nan,nan,nan,nan,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
18,NaN,nan,nan,nan,nan,nan,nan,nan,nan,nan,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan

In [12]:
#drop nan values
China_data.dropna()
China_data

,Indicators,Jun-20,May-20,Apr-20,Mar-20,Feb-20,Jan-20,Dec-19,Nov-19,Oct-19,...,Oct-10,Sep-10,Aug-10,Jul-10,Jun-10,May-10,Apr-10,Mar-10,Feb-10,Jan-10
0,Online Retail Sales Accumulated($US),"7,339.70","5,725.69","4,374.96","3,159.41","1,954.18",nan,"15,152.90","13,533.01","11,730.08",...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
1,Online Retail Sales Accumulated Growth Rate(%),1.04,0.64,0.24,-0.11,-0.43,nan,2.35,2.37,2.34,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
2,Online Retail Sales in Goods Accumulated($US),"6,196.70","4,808.32","3,669.93","2,641.63","1,600.91",nan,"12,147.99","10,835.82","9,288.08",...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
3,Online Retail Sales in Goods Accumulated Growt...,2.04,1.64,1.23,0.84,0.43,nan,2.78,2.81,2.82,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
4,Online Retail Sales in Food Accumulated Growth...,5.53,5.27,5.23,4.66,3.76,nan,4.40,4.22,4.96,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
5,Online Retail Sales in Clothing Accumulated Gr...,-0.41,-0.97,-1.71,-2.15,-2.58,nan,2.19,2.35,1.01,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
6,Online Retail Sales in Necessities Accumulated...,2.47,2.12,1.77,1.43,1.07,nan,2.82,2.82,2.37,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
7,Total Retail Sales of Consumer Goods Current P...,"4,777.98","4,556.64","4,015.79","3,769.53",nan,nan,"5,526.30","5,428.98","5,430.47",...,"2,035.81","1,929.17","1,791.40","1,746.22","1,757.21","1,775.05","1,640.42","1,613.52","1,757.82","1,812.53"
8,Total Retail Sales of Consumer Goods Accumulat...,"24,549.26","19,771.29","15,214.65","11,198.86","7,429.33",nan,"58,666.57","53,140.27","47,711.29",...,"17,859.15","15,823.34","13,894.17","12,102.77","10,356.55","8,599.34","6,824.29","5,183.88","3,570.35","1,812.53"
9,Total Retail Sales of Consumer Goods Growth Ra...,-0.26,-0.40,-1.07,-2.25,nan,nan,1.14,1.14,1.03,...,2.65,2.68,2.62,2.55,2.61,2.67,2.64,2.57,3.15,2.00
10,Total Retail Sales of Consumer Goods Accumulat...,-1.62,-1.92,-2.31,-2.71,-2.92,nan,1.14,1.14,1.15,...,2.61,2.61,2.59,2.59,2.59,2.59,2.58,2.55,2.55,2.00
11,NaN,nan,nan,nan,nan,nan,nan,nan,nan,nan,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
12,NaN,nan,nan,nan,nan,nan,nan,nan,nan,nan,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
13,NaN,nan,nan,nan,nan,nan,nan,nan,nan,nan,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
14,NaN,nan,nan,nan,nan,nan,nan,nan,nan,nan,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
15,NaN,nan,nan,nan,nan,nan,nan,nan,nan,nan,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
16,NaN,nan,nan,nan,nan,nan,nan,nan,nan,nan,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
17,NaN,nan,nan,nan,nan,nan,nan,nan,nan,nan,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
18,NaN,nan,nan,nan,nan,nan,nan,nan,nan,nan,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan